---
layout: default
title: halcat.org
---

{% include entry.html title="スタックレスScala" ref="stackless_scala.html" desc="Stackless Scala With Free Monadsを参考にTrampolineやそれを抽象化したFreeを紹介します." %}

{% include entry.html title="Typelevel FizzBuzz in Scala" ref="typelevel_fizzbuzz.html" desc="Scalaの型レベルプログラミングをFizzBuzzにより解説します." %}

{% include entry.html title="Scalaの合併型と全称型" ref="curry_howard.html" desc="カリー・ハワード同型対応から合併型と全称型を導きます." %}

{% include entry.html title="Free Applicative Functors in Scala" ref="free_ap.html" desc="Free Applicative FunctorsをScalaで紹介します." %}

{% include entry.html title="Lisp on Clojure" ref="/clojure/evaluator/index.html" desc="Clojureの特徴を簡単なLisp評価機を作る過程で紹介します." %}

{% include entry.html title="Clojure Contrib" ref="/clojure/contrib/index.html" desc="Clojureの準標準的なライブラリ群であるContribライブラリを紹介します." %}

{% include entry.html title="Lispでも論理プログラミングがしたい！" ref="/clojure/logic/index.html" desc="core.logicを使ったClojureにおける論理プログラミングを紹介します." %}

{% include entry.html title="Lensの導出とメタプログラミング" ref="deriving_lenses.html" desc="Lensの導出を題材に各言語のメタプログラミングを紹介します." %}

{% include entry.html title="Hello, world!" ref="hello_world.html" desc="初歩的なプログラムをいろいろな言語を使って記述していきます." %}
