---
layout: default
title: halcat.org
---

{% include entry.html title="スタックレスScala" ref="stackless_scala.html" tags="scala,monad" desc="Stackless Scala With Free Monadsを参考にTrampolineやそれを抽象化したFreeを紹介します." %}

{% include entry.html title="Typelevel FizzBuzz in Scala" ref="typelevel_fizzbuzz.html" tags="scala" desc="Scalaの型レベルプログラミングをFizzBuzzにより解説します." %}

{% include entry.html title="Lisp on Clojure" ref="lisp_evaluator.html" tags="clojure" desc="Clojureの特徴を簡単なLisp評価機を作る過程で紹介します." %}

{% include entry.html title="Lispでも論理プログラミングがしたい！" ref="core_logic.html" tags="clojure" desc="core.logicを使ったClojureにおける論理プログラミングを紹介します." %}

{% include entry.html title="Deriving Lenses with Metaprogramming" ref="deriving_lenses.html" tags="java,scala,haskell" desc="Java, Scala, Haskellを使用してLens導出を試み, 各言語のメタプログラミングを紹介します." %}

{% include entry.html title="Hello, world!" ref="hello_world.html" tags="" desc="初歩的なプログラムをいろいろな言語を使って記述していきます." %}
